<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="layout.html" />
<head>
  <title>Notifications</title>
</head>
<body>
  <div id="content" class="notification">
  <py:choose test="notification.error">
  <py:when test="True">
    <h1>Notification Error</h1>
    <div class="system-message">
      <p>You must add your email address to <a href="$prefs.url">Preferences</a>
      in order to be able to use wiki notifications</p>
    </div>
  </py:when> <!-- py:when notification.error==True ended -->
  <py:otherwise> <!-- py:when notification.error!=True -->
    <py:choose test="notification.showlist">
    <py:when test="True">
      <table width="100%" cellpadding="4" cellspacing="4">
        <tr>
          <td width="100%" style="vertical-align: top;">
            <xi:include href="notifications_list.html"/>
          </td>
          <td style="white-space: nowrap; vertical-align: top;">
            <xi:include href="notifications_forms.html"/>
          </td>
        </tr>
      </table>
    </py:when>
    <py:otherwise>
      <script language="JavaScript">
        function redirectBack() {
            redirurl = "$notification.redir";
            redirect_time = $notification.redirect_time*1000;
            self.setTimeout("self.location.href = redirurl;", redirect_time);
        }
      </script>
      <fieldset>
        <legend>${ notification.action.capitalize() }</legend>
        <py:choose test="notification.action == 'watch'">
        <py:when test="True">
        <h1>You will now receive email's about changes made on
            <a href="$notification.wikipage.url">$notification.wikipage</a>.
        </h1>
        </py:when>
        <py:otherwise>
        <h1>No more emails about changes made on
          <py:choose>
            <py:for py:when="len(notification.removelist) == 1"
                each="item in notification.removelist">
                <a href="$notification.wikiurl/$item">$item</a>
            </py:for>
            <py:for py:when="len(notification.removelist) > 1"
                each="item in notification.removelist">
                <a href="$notification.wikiurl/$item">$item</a>,
            </py:for>
          <a py:otherwise=""
             href="$notification.wikiurl/$notification.wikipage">$notification.wikipage</a>
          </py:choose> will be sent to you.</h1>
        </py:otherwise>
        </py:choose>
        <p>Redirecting you back in $notification.redirect_time seconds,
           if it fails, please <a href="$notification.redir">click here</a></p>
        <p>A list of the wiki pages you're watching can be found on
           <a href="$notification.my_not_url">My Notifications</a>.</p>
      </fieldset>
      <script type="text/javascript">redirectBack();</script>
    </py:otherwise>
    </py:choose>
  </py:otherwise> <!-- py:when notification.error!=True ended -->
  </py:choose> <!-- py:choose test="notification.error" ended -->
  </div>
</body>
</html>
